/* Write your code here. */
* {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto';
  box-sizing: border-box;
}

.thumbnail-img {
  width: 90px;
  margin-top: 10px;
  opacity: 0.5;
}

.selected {
  opacity: 1;
}

button {
  background: transparent;
  cursor: pointer;
  border: none;
}

.list-item {
  width: 25%;
}

@media screen and (min-width: 768px) {
  .list-item {
    width: 60px;
  }
  .thumbnail-img {
    width: 50px;
  }
}
